quarkus.http.access-log.enabled: true
quarkus.http.access-log.pattern: combined
# 可选：输出到文件
quarkus.http.access-log.log-to-file: true
quarkus.http.access-log.base-file-name: http-access
quarkus.http.access-log.log-directory: logs
quarkus.log.level: TRACE
quarkus:
  datasource:
    db-kind: postgresql
    username: postgres
    password: ""
    jdbc:
      url: ${DB_URL:jdbc:postgresql://localhost:5432/oci_registry}
  hibernate-orm:
    database:
      generation: drop-and-create
    log:
      sql: true
  http:
    host: 0.0.0.0
    port: 8911
    cors:
      ~: true
      origins: "*"
      headers: "*"
      methods: "*"
  smallrye-openapi:
    info-title: OCI Distribution Registry API
    info-version: 1.0.0
    info-description: OCI Distribution Specification compliant registry

oci:
  storage:
    root: ${OCI_STORAGE_ROOT:/tmp/oci-registry}
